# **What is NumPy?**

NumPy stands for numeric python which is a python package for the computation and processing of the multidimensional and single dimensional array elements.

##**What is array in Python ?**

Arrays are a fundamental data structure, and an important part of most programming languages. In Python, they are containers which are able to store more than one item at the same time. Specifically, they are an ordered collection of elements with every value being of the same data type

![array.png]()

# **Array Creation methods:**
1. Array creation using List /Tuple
2. Array creation using array function
3. Array creation using numpy methods



>*   numpy.zeros()
*   numpy.ones()
* numpy.random.rand()









4. To create sequences of numbers




> * numpy.arange()
* numpy.linspace()





5. asarray() method

1.Array creation using List /Tuple:

In [ ]:
# creating rank 1 array:np.array(value list,dtype)
import numpy as np
a=np.array([1,2,3])
print(a)

[1 2 3]

2.Array creation using array function:

In [ ]:
#array.array(datatype,value list)
import array
a1=array.array("f",[1,0,3])
a1

array('f', [1.0, 0.0, 3.0])

3.Array creation using numpy methods :

In [ ]:
#Using the zeros() function:
zeros = np.zeros((3, 4))
zeros

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
#Using the ones() function:
ones = np.ones((2, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
#Using the random.rand() function:
random_numbers = np.random.rand(3, 4)
random_numbers

array([[0.85331171, 0.25799584, 0.42496439, 0.14322056],
       [0.02059803, 0.18912456, 0.39149235, 0.9634113 ],
       [0.11903212, 0.083332  , 0.23314079, 0.7841329 ]])

4.To create sequences of numbers:

In [ ]:
#Using the arange() function:
numbers = np.arange(0, 10, 2)
numbers

array([0, 2, 4, 6, 8])

In [ ]:
#Using the linspace() function:
numbers = np.linspace(0, 10, 5)
numbers

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

5.asarray() method:

In [ ]:
import numpy as np

list_of_numbers = [1, 2, 3, 4, 5]

array_of_numbers = np.asarray(list_of_numbers)

print(array_of_numbers)

[1 2 3 4 5]

##**for practice:**

1. How do you create a NumPy array filled with zeros of a specific shape?
2. What NumPy function can you use to create an array with a specified range of values?
3. How can you create an identity matrix (a square matrix with ones on the diagonal and zeros elsewhere) using NumPy?
4. What function can you use to generate an array with random values between 0 and 1?
5. How do you create an array of equally spaced values within a specified range?
6. What function allows you to reshape an existing array into a different shape without copying the data?
7. How can you create a NumPy array with a specific data type, such as integers or floats?
8. What is the difference between np.zeros() and np.empty() for creating arrays with zeros?
9. How can you create a 3x3 array with all elements set to a specific value, such as 7?
10. What function can you use to create a random integer array within a specified range (e.g., between 1 and 10)?

In [ ]:
import numpy as np
zeros_array = np.zeros((3, 4))  # Creates a 3x4 array filled with zeros.

In [ ]:
import numpy as np
range_array = np.arange(1, 11)  # Creates an array from 1 to 10.

In [ ]:
import numpy as np
identity_matrix = np.eye(3)  # Creates a 3x3 identity matrix.

In [ ]:
import numpy as np
random_array = np.random.rand(2, 2)  # Creates a 2x2 array with random values.

In [ ]:
import numpy as np
linspace_array = np.linspace(0, 1, 5)  # Creates an array with 5 equally spaced values between 0 and 1.

In [ ]:
import numpy as np
original_array = np.array([1, 2, 3, 4, 5, 6])
reshaped_array = original_array.reshape((2, 3))  # Reshapes the array into a 2x3 shape.

In [ ]:
import numpy as np
int_array = np.array([1, 2, 3], dtype=int)  # Creates an array with integer data type.
float_array = np.array([1.0, 2.0, 3.0], dtype=float)  # Creates an array with float data type.

In [ ]:
import numpy as np
constant_array = np.full((3, 3), 7)  # Creates a 3x3 array with all elements set to 7.

In [ ]:
import numpy as np
random_int_array = np.random.randint(1, 11, size=(3, 3))  # Creates a 3x3 array with random integers between 1 and 10.

## Data type Objects with Structured Arrays


Data type objects are useful for creating structured arrays. A structured array is one that contains different types of data. Structured arrays can be accessed with the help of fields. A field is like specifying a name to the object.

In NumPy, a data type object is an instance of the numpy.dtype class. The dtype class can be used to create structured data types. To create a structured data type, you need to specify the names and data types of the fields.

In [ ]:
import numpy as np

dtype = np.dtype([('name', np.str_,32), ('age', np.int32)])
dtype

dtype([('name', '<U32'), ('age', '<i4')])

In [ ]:
array = np.array([('John Doe', 30), ('Jane Doe', 25)], dtype=dtype)
array

array([('John Doe', 30), ('Jane Doe', 25)],
      dtype=[('name', '<U32'), ('age', '<i4')])

In [ ]:
print(array['name'][0])

John Doe

##Basic Slicing in NumPy:

Basic slicing refers to extracting portions of an array by specifying start, stop, and step values along each axis (dimension) of the array.

In [ ]:
array[start:stop:step]

**start**: The index where the slice begins (inclusive).

**stop**: The index where the slice ends (exclusive).

**step**: The step size, which determines how many elements to skip.

In [ ]:
import numpy as np

# Create a simple array for demonstration
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# Slicing to get elements from index 2 to 5 (exclusive)
result = arr[2:5]
# result: array([2, 3, 4])
result

array([2, 3, 4])

In [ ]:
# Slicing with a step of 2 to get every second element
result = arr[::2]
# result: array([0, 2, 4, 6, 8])
result

array([0, 2, 4, 6, 8])

In [ ]:
# Reversing the array using a negative step
result = arr[::-1]
# result: array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])
result

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

## Advanced Indexing in NumPy:
Advanced indexing allows you to use arrays or lists of integers or Boolean values to access elements from an array. This provides more flexibility compared to basic slicing.

**Integer Array Indexing:**

You can use an array of integers to select specific elements from an array. Each integer in the indexing array corresponds to the index of the element you want to retrieve.

In [ ]:
import numpy as np

arr = np.array([0, 22, 2, 30, 4, 51, 6, 7, 8, 9])
indices = np.array([1, 3, 5])

result = arr[indices]
# result: array([22, 30, 51])
result

array([22, 30, 51])

In [ ]:
import numpy as np

# Create a 2D NumPy array
arr = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

# Slice a portion of the 2D array
sub_array = arr[1:3, 0:2]  # Rows 1 and 2, Columns 0 and 1

print(sub_array)

[[4 5]
 [7 8]]

In [ ]:
arr.shape

(3, 3)

**Boolean Array Indexing (Boolean Masking):**

You can also use Boolean arrays to filter elements based on a condition. This is commonly referred to as Boolean masking.

In [ ]:
import numpy as np

arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
mask = arr > 3

result = arr[mask]
# result: array([4, 5, 6, 7, 8, 9])
result

array([4, 5, 6, 7, 8, 9])

**For practice:**

1. How do you extract a single element from a NumPy array using slicing?
2. What is the syntax for slicing the first three elements of a 1D NumPy array?
3. How can you slice the last two elements of a 1D NumPy array?
4. What is the result of slicing a NumPy array with the syntax array[2:5]?
5. How do you slice the first row of a 2D NumPy array?
6. What does array[:, 2] do when applied to a 2D NumPy array?
7. How can you slice a subarray from the second row to the fourth row of a 2D NumPy array?
8. What is the purpose of using array[::2] in slicing?
9. How can you slice a 2D NumPy array to extract the first two columns?
10. How do you reverse the order of elements in a 1D NumPy array using slicing?

In [ ]:
import numpy as np

# Sample 1D array for demonstration
array_1d = np.array([10, 20, 30, 40, 50])

# Sample 2D array for demonstration
array_2d = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])

# 1. Extract a single element from a NumPy array using slicing
element = array_1d[3]

# 2. Slice the first three elements of a 1D NumPy array
first_three_elements = array_1d[:3]

# 3. Slice the last two elements of a 1D NumPy array
last_two_elements = array_1d[-2:]

# 4. Slice a NumPy array with the syntax array[2:5]
sliced_array = array_1d[2:5]

# 5. Slice the first row of a 2D NumPy array
first_row = array_2d[0, :]

# 6. Slice a 2D NumPy array to extract the third column
third_column = array_2d[:, 2]

# 7. Slice a subarray from the second row to the fourth row of a 2D NumPy array
subarray = array_2d[1:4, :]

# 8. Use array[::2] in slicing to extract every second element
every_second_element = array_1d[::2]

# 9. Slice a 2D NumPy array to extract the first two columns
first_two_columns = array_2d[:, :2]

# 10. Reverse the order of elements in a 1D NumPy array using slicing
reversed_array = array_1d[::-1]

# Printing the results for each question
print("1. Element:", element)
print("2. First three elements:", first_three_elements)
print("3. Last two elements:", last_two_elements)
print("4. Sliced array:", sliced_array)
print("5. First row:", first_row)
print("6. Third column:", third_column)
print("7. Subarray:", subarray)
print("8. Every second element:", every_second_element)
print("9. First two columns:", first_two_columns)
print("10. Reversed array:", reversed_array)

1. Element: 40
2. First three elements: [10 20 30]
3. Last two elements: [40 50]
4. Sliced array: [30 40 50]
5. First row: [1 2 3]
6. Third column: [3 6 9]
7. Subarray: [[4 5 6]
 [7 8 9]]
8. Every second element: [10 30 50]
9. First two columns: [[1 2]
 [4 5]
 [7 8]]
10. Reversed array: [50 40 30 20 10]

## Numpy | Iterating Over Array

Using **for Loops**:

You can use standard Python for loops to iterate over NumPy arrays, treating them like regular Python lists or sequences. This method is suitable for one-dimensional arrays:

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

for element in arr:
    print(element)

1
2
3
4
5

**Multidimensional Arrays:**

For multidimensional arrays, you can use nested for loops to iterate over each dimension:

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

for row in arr:
    for element in row:
        print(element)

1
2
3
4
5
6
7
8
9

**Using numpy.nditer():**

NumPy provides the numpy.nditer() function to iterate over array elements efficiently. It's a more flexible and memory-efficient way to iterate through arrays, especially when dealing with large datasets. You can specify various iteration options, such as the order (C or Fortran), data type, etc.

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

for element in np.nditer(arr):
    print(element)

1
2
3
4
5
6
7
8
9

**Using Indexing:**

You can also use index-based iteration, where you iterate over the indices of the array and access elements using these indices:

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

for i in range(arr.shape[0]):  # Loop through rows
    for j in range(arr.shape[1]):  # Loop through columns
        print(arr[i,j])

1
2
3
4
5
6
7
8
9

**Using numpy.ndenumerate():**

If you need both the element and its indices during iteration, you can use numpy.ndenumerate()

In [ ]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

for (i, j), element in np.ndenumerate(arr):
    print(f"Element at ({i}, {j}) = {element}")

Element at (0, 0) = 1
Element at (0, 1) = 2
Element at (0, 2) = 3
Element at (1, 0) = 4
Element at (1, 1) = 5
Element at (1, 2) = 6
Element at (2, 0) = 7
Element at (2, 1) = 8
Element at (2, 2) = 9

## Modifying Array Values

**Direct Assignment:**

You can directly assign new values to specific elements or slices of a NumPy array.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

# Modifying a single element
arr[2] = 99

# Modifying a slice of the array
arr[1:4] = [10, 20, 30]

print(arr)  # Output: [ 1 10 20 30  5]

[ 1 10 20 30  5]

**Mathematical Operations:**

You can perform mathematical operations on array elements and update them in-place.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

# Add 10 to each element
arr += 10

# Multiply each element by 2
arr *= 2

print(arr)  # Output: [22 24 26 28 30]

[22 24 26 28 30]

**Boolean Indexing:**


You can use Boolean indexing to conditionally update elements based on a condition.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

# Double the values that are greater than 2
arr[arr > 2] *= 2

print(arr)  # Output: [1 2 6 8 10]

[ 1  2  6  8 10]

**Copying Arrays:**

When you need to modify an array without altering the original, you should make a copy of the array to avoid unintended side effects.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
arr_copy = arr.copy()

# Modify the copy
arr_copy[2] = 99

print(arr)      # Original array is unchanged
print(arr_copy)  # Output: [ 1  2 99  4  5]

[1 2 3 4 5]
[ 1  2 99  4  5]

##Broadcasting Iteration:

In NumPy, broadcasting is a powerful feature that allows you to perform operations on arrays with different shapes, making it easier to work with arrays of varying sizes without explicitly reshaping them. When you iterate over arrays with different shapes, NumPy automatically broadcasts the smaller array to match the shape of the larger array.

In [ ]:
import numpy as np

# Example 1: Broadcasting with a scalar
arr = np.array([1, 2, 3, 4, 5])
scalar = 2

In [ ]:
result = arr * scalar
# Broadcasting: [1*2, 2*2, 3*2, 4*2, 5*2]
# Result: [2, 4, 6, 8, 10]
result

array([ 2,  4,  6,  8, 10])

In [ ]:
# Example 2: Broadcasting with 1D and 2D arrays
arr_1d = np.array([1, 2, 3])
arr_2d = np.array([[10, 20, 30], [40, 50, 60]])

In [ ]:
result = arr_1d + arr_2d
# Broadcasting: [[1+10, 2+20, 3+30], [1+40, 2+50, 3+60]]
# Result: [[11, 22, 33], [41, 52, 63]]
result

array([[11, 22, 33],
       [41, 52, 63]])

# **for practice:**

1. How do you iterate over the elements of a 1D NumPy array using a for loop?
2. What is the result of iterating over a 2D NumPy array using a nested for loop?
3. How can you iterate over the rows of a 2D NumPy array using a for loop?
4. What is the purpose of the numpy.nditer() function, and how is it used for array iteration?
5. How do you iterate over the columns of a 2D NumPy array using a for loop?
6. What function can you use to iterate over the indices and elements of a NumPy array simultaneously?
7. How can you perform element-wise addition on two NumPy arrays using iteration?
8. How do you iterate over a NumPy array in reverse order?
9. What is the difference between iterating over a NumPy array and a regular Python list?
10. How can you skip specific elements while iterating over a NumPy array?

#Numpy- Arithemetic Operations

1.	Perform element-wise addition on two NumPy arrays: arr1 = np.array([1, 2, 3]) and arr2 = np.array([4, 5, 6]).
2.	Calculate the result of multiplying each element of the NumPy array arr = np.array([7, 8, 9]) by 2.
3.	Subtract the NumPy array arr1 = np.array([10, 20, 30]) from another array arr2 = np.array([2, 4, 6].
4.	Compute the element-wise division of the NumPy array arr1 = np.array([2, 3, 4]) by arr2 = np.array([5, 6, 7]).
5.	Calculate the square of each element in the NumPy array arr = np.array([9, 16, 25]).
6.	Find the sum of all elements in the NumPy array arr = np.array([3, 6, 9, 12, 15].
7.	Calculate the mean (average) of the elements in the NumPy array arr = np.array([7, 14, 21, 28, 35]).
8.	Perform the dot product between two NumPy arrays: arr1 = np.array([1, 2, 3]) and arr2 = np.array([4, 5, 6]).
9.	Compute the absolute values of the elements in the NumPy array arr = np.array([-5, 8, -12, 15, -20].
10.	Find the maximum value in the NumPy array arr = np.array([23, 56, 12, 45, 78])

#Numpy- Random Function
1.	Generate a random integer between 1 and 100.
2.	Create a NumPy array with 5 random integers between 1 and 10.
3.	Generate a random float between 0 and 1.
4.	Create a 3x3 NumPy array filled with random floats between -1 and 1.
5.	Generate a random number from a normal distribution with a mean of 0 and a standard deviation of 1.
6.	Create a 1D NumPy array with 10 random numbers from a uniform distribution between 5 and 15.
7.	Generate a random 2x2 matrix with values sampled from a Poisson distribution with a lambda parameter of 3.
8.	Create a NumPy array with 5 random integers between 10 and 50, inclusive.
9.	Generate a random boolean value (True or False).
10.	Create a 2D NumPy array with 3 rows and 4 columns, filled with random integers between 0 and 100.
#Numby-Datetime Function
1.	Create a NumPy array containing 10 consecutive days starting from a specific date (e.g., January 1, 2023).
2.	Calculate the number of days between two specific dates using NumPy and datetime.
3.	Create a NumPy array with timestamps representing 10 equally spaced time points over the course of a day.
4.	Calculate the difference in seconds between two given timestamps using NumPy.
5.	Generate a NumPy array with timestamps for the next 7 days, starting from the current date.
6.	Find the day of the week (e.g., Monday, Tuesday) for a given timestamp in a NumPy array.
7.	Create a NumPy array with timestamps for the first day of each month in a specific year.
8.	Calculate the number of weekdays (e.g., Monday to Friday) in a specific month of a given year using NumPy.
9.	Generate a NumPy array with timestamps for the last day of each month in a specific year.
10.	Find the timestamp in a NumPy array that corresponds to the current date and time

In [ ]:
import numpy as np

# Sample 1D and 2D arrays for demonstration
array_1d = np.array([1, 2, 3, 4, 5])
array_2d = np.array([[1, 2, 3],
                     [4, 5, 6],
                     [7, 8, 9]])

# 1. Iterate over the elements of a 1D NumPy array using a `for` loop
for element in array_1d:
    print(element)

# 2. Iterate over a 2D NumPy array using a nested `for` loop
for row in array_2d:
    for element in row:
        print(element)

# 3. Iterate over the rows of a 2D NumPy array using a `for` loop
for row in array_2d:
    print(row)

# 4. Use `numpy.nditer()` for array iteration (an alternative to `for` loops)
for element in np.nditer(array_2d):
    print(element)

# 5. Iterate over the columns of a 2D NumPy array using a `for` loop
for col in array_2d.T:
    print(col)

# 6. Use `numpy.ndenumerate()` to iterate over indices and elements simultaneously
for (i, j), element in np.ndenumerate(array_2d):
    print(f"Element at ({i}, {j}) = {element}")

# 7. Perform element-wise addition on two NumPy arrays using iteration
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2
print(result)

# 8. Iterate over a NumPy array in reverse order
for element in reversed(array_1d):
    print(element)

# 9. The difference between iterating over a NumPy array and a Python list is that NumPy arrays are optimized for numerical operations and are typically faster for large datasets.

# 10. To skip specific elements while iterating over a NumPy array, you can use conditional statements within the loop.
for element in array_1d:
    if element % 2 == 0:
        continue  # Skip even elements
    print(element)

1
2
3
4
5
1
2
3
4
5
6
7
8
9
[1 2 3]
[4 5 6]
[7 8 9]
1
2
3
4
5
6
7
8
9
[1 4 7]
[2 5 8]
[3 6 9]
Element at (0, 0) = 1
Element at (0, 1) = 2
Element at (0, 2) = 3
Element at (1, 0) = 4
Element at (1, 1) = 5
Element at (1, 2) = 6
Element at (2, 0) = 7
Element at (2, 1) = 8
Element at (2, 2) = 9
[5 7 9]
5
4
3
2
1
1
3
5

##Numpy | String Operations

**String Concatenation:**

You can concatenate strings in a NumPy array using the numpy.char.add() function or the + operator.

In [ ]:
import numpy as np

arr = np.array(['Hello', 'World'])
result = np.char.add(arr, '!')
# result: ['Hello!', 'World!']
result

array(['Hello!', 'World!'], dtype='<U6')

**String Splitting:**

The numpy.char.split() function splits strings in an array based on a specified delimiter.

In [ ]:
import numpy as np

arr = np.array(['apple,banana', 'cherry,pear'])
result = np.char.split(arr, ',')
# result: [['apple', 'banana'], ['cherry', 'pear']]
result

array([list(['apple', 'banana']), list(['cherry', 'pear'])], dtype=object)

**String Joining:**

You can join the elements of an array of strings using the numpy.char.join() function.

In [ ]:
import numpy as np

arr = np.array(['apple', 'banana'])
result = np.char.join(':', arr)
# result: ['a:p:p:l:e' 'b:a:n:a:n:a']
result

array(['a:p:p:l:e', 'b:a:n:a:n:a'], dtype='<U11')

**String Length:**

To get the length of each string in an array, you can use numpy.char.str_len().

In [ ]:
import numpy as np

arr = np.array(['apple', 'banana', 'cherry'])
result = np.char.str_len(arr)
result

array([5, 6, 6])

**String Comparison:**

You can perform string comparisons using functions like

 numpy.char.equal()

 numpy.char.not_equal()

 numpy.char.less()

 numpy.char.less_equal()

 numpy.char.greater()

 numpy.char.greater_equal().

In [ ]:
import numpy as np

arr1 = np.array(['apple', 'banana', 'cherry'])
arr2 = np.array(['banana', 'apple', 'cherry'])
result = np.char.equal(arr1, arr2)
result

array([False, False,  True])

**String Case Conversion:**

NumPy provides functions for converting strings to

lowercase (numpy.char.lower())

uppercase (numpy.char.upper())

title case (numpy.char.title()).

In [ ]:
import numpy as np

arr = np.array(['hello', 'world'])
upper_case = np.char.upper(arr)
upper_case

array(['HELLO', 'WORLD'], dtype='<U5')

**String Stripping:**

You can remove leading and trailing whitespace characters from strings using numpy.char.strip().

In [ ]:
import numpy as np

arr = np.array(['  hello  ', '  world  '])
stripped = np.char.strip(arr)
stripped

array(['hello', 'world'], dtype='<U9')

**String Replace:**

You can replace substrings in strings using numpy.char.replace().

In [ ]:
import numpy as np

arr = np.array(['apple pie', 'banana split'])
replaced = np.char.replace(arr, ' ', '-')
replaced

array(['apple-pie', 'banana-split'], dtype='<U12')

## Numpy | Sorting, Searching and Counting

NumPy provides a wide range of functions for sorting, searching, and counting elements within arrays. These operations are essential for data analysis, statistics, and many other data manipulation tasks. Here are some common sorting, searching, and counting operations in NumPy:

###**Sorting:**

**Sorting Arrays:**

You can use the numpy.sort() function to sort the elements of an array along a specified axis. This function returns a sorted copy of the input array.

In [ ]:
import numpy as np

arr = np.array([3, 1, 2, 5, 4])
sorted_arr = np.sort(arr)
sorted_arr

array([1, 2, 3, 4, 5])

**Sorting with Indices:**

If you want to sort an array and get the indices that would sort the array, you can use numpy.argsort().

In [ ]:
import numpy as np

arr = np.array([3, 1, 2, 5, 4])
sorted_indices = np.argsort(arr)
sorted_indices

array([1, 2, 0, 4, 3])

**Sorting Along an Axis**:

You can sort a multidimensional array along a specific axis using numpy.sort() with the axis parameter.

In [ ]:
import numpy as np

arr = np.array([[3, 1], [2, 5], [4, 0]])
sorted_arr = np.sort(arr, axis=0)  # Sort along columns
sorted_arr

array([[2, 0],
       [3, 1],
       [4, 5]])

### **Searching:**

**Searching for Values:**

You can use the numpy.where() function to find the indices where a given condition is met in an array.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])
indices = np.where(arr == 3)
indices

(array([2]),)

**Searching for Unique Values:**

To find unique elements in an array and count their occurrences, you can use numpy.unique().

In [ ]:
import numpy as np

arr = np.array([1, 2, 2, 3, 3, 3,4,4])
unique_values, counts = np.unique(arr, return_counts=True)
print("unique_values : ",unique_values)
print("counts :",counts)

unique_values :  [1 2 3 4]
counts : [1 2 3 2]

### **Counting:**

**Counting Non-Zero Elements:**

You can count the number of non-zero elements in an array using numpy.count_nonzero()

In [ ]:
import numpy as np

arr = np.array([1, 0, 2, 0, 3, 4])
nonzero_count = np.count_nonzero(arr)
nonzero_count

4

**Counting Occurrences:**

You can count the occurrences of a specific value in an array using numpy.count_nonzero() and logical comparison.

In [ ]:
import numpy as np

arr = np.array([1, 2, 2, 3, 2, 4])
occurrence_count = np.count_nonzero(arr == 2)
occurrence_count

3

## **For Practice:**

1. How do you concatenate two strings in a NumPy array along a specified axis?

2. Given a NumPy array of strings, how can you split each string into words and create a new array of words?

3. What is the result of converting all strings in a NumPy array to uppercase using a string operation?

4. How can you count the occurrences of a specific substring within each string in a NumPy array of strings?

5. Given a NumPy array of names in the format "Last Name, First Name," how can you extract only the last names into a new array?

6. How do you replace a specific substring in all strings of a NumPy array with a different substring?

7. Given a NumPy array of sentences, how can you find the length (number of words) of each sentence?

8. What is the difference between using numpy.char.add() and the + operator for string concatenation in NumPy?

9. How can you check if a specific substring is present in each string of a NumPy array and create a boolean array indicating the presence or absence of the substring?

10. How do you capitalize the first letter of each word in a NumPy array of strings?

In [ ]:
import numpy as np

# Sample NumPy array of strings for demonstration
string_array = np.array(["Hello", "World", "NumPy", "String", "Operations"])

# 1. Concatenate two strings in a NumPy array along a specified axis
concatenated_array = np.char.add(string_array, " Example")
print(concatenated_array)

# 2. Split each string into words and create a new array of words
split_words = np.char.split(string_array)
print(split_words)

# 3. Convert all strings in a NumPy array to uppercase
uppercase_array = np.char.upper(string_array)
print(uppercase_array)

# 4. Count the occurrences of a specific substring within each string
substring = "o"
count_occurrences = np.char.count(string_array, substring)
print(count_occurrences)

# 5. Extract only the last names from a format like "Last Name, First Name"
full_names = np.array(["Doe, John", "Smith, Jane", "Johnson, Mary"])
last_names = np.char.split(full_names, ", ")
last_names = [name[-1] for name in last_names]
print(last_names)

# 6. Replace a specific substring in all strings with a different substring
replacement_array = np.char.replace(string_array, "Hello", "Hi")
print(replacement_array)

# 7. Find the length (number of words) of each sentence
sentence_array = np.array(["This is a sample sentence.", "NumPy is great."])
sentence_lengths = np.char.count(sentence_array, " ") + 1
print(sentence_lengths)

# 8. Difference between numpy.char.add() and the + operator for string concatenation
# numpy.char.add() concatenates element-wise, while + operator concatenates the entire array.
# Sample NumPy array of strings for demonstration
string_array = np.array(["Hello", "World", "NumPy", "String", "Operations"])

# Using numpy.char.add() for string concatenation (element-wise)
add_result = np.char.add(string_array, " Using numpy.char.add()")
print(add_result)

# Sample NumPy array of strings for demonstration
string_array = np.array(["Hello", "World", "NumPy", "String", "Operations"])

# 9. Check if a specific substring is present in each string and create a boolean array
substring_to_check = "NumPy"
presence_array = np.array([substring_to_check in string for string in string_array])
print(presence_array)

# 10. Capitalize the first letter of each word in a NumPy array of strings
capitalized_array = np.char.title(string_array)
print(capitalized_array)

['Hello Example' 'World Example' 'NumPy Example' 'String Example'
 'Operations Example']
[list(['Hello']) list(['World']) list(['NumPy']) list(['String'])
 list(['Operations'])]
['HELLO' 'WORLD' 'NUMPY' 'STRING' 'OPERATIONS']
[1 1 0 0 1]
['John', 'Jane', 'Mary']
['Hi' 'World' 'NumPy' 'String' 'Operations']
[5 3]
['Hello Using numpy.char.add()' 'World Using numpy.char.add()'
 'NumPy Using numpy.char.add()' 'String Using numpy.char.add()'
 'Operations Using numpy.char.add()']
[False False  True False False]
['Hello' 'World' 'Numpy' 'String' 'Operations']